
/************************************* RESET ********************************************/
/* POLICE GOOGLE POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
    text-decoration: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    display: block;
    height: auto;
    width: 100%;
}

a{
    text-decoration: none;
    color: #000;
}


/**************************HEADER******************************/
header{
    background:  radial-gradient(rgb(139, 195, 245), #1294b8);
    padding-bottom: 10rem;
}

/****************NAV***********/
nav{
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;

}

h2{
    font-size: 35px;
    font-weight:900;
    color: #fff;
}

nav ul{
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

nav ul li a{
    font-size: 22px;
}



/**********SECTION**********/


article{
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

h1{
    font-size: 60px;
    font-weight: 900;
    padding: 1rem 1rem 1rem 0;
}

article p {
    font-size: 18px;
    padding-right: 3rem;
    line-height: 1.5;
    margin-top: 2rem;
}


input{
    border-radius: 25px;
    padding: 0.5rem ;
    padding-left: 1rem;
    outline: 0;
}

form button{
    cursor: pointer;
    background-color: #1294b8;
    padding: 1rem 2rem;
    border-radius: 35px;
    color: #fff;
    margin: 0 0.5rem;
    transition: .35s;
}

form button:hover{
    background-color:#17a6cdff;
}

figure{
    min-width: 60%;
}



/****************************CLASS*******************************/

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.flex{
    display: flex;
}

.space-around{
    justify-content: space-around;
}


.color-white{
    color: #fff;
}

.container-form{
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 50px;
    padding: 0.5rem 0;
    margin: 2rem 4rem 2rem 0;
}



/*************************MEDIA QUERIES***********************/

@media screen and (max-width: 350px) {

    /*****************************HEADER FORM********************************/

form{
    max-width: 280px;
}
input{
    max-width: 140px;
    padding: 0;
    padding-left: 1rem;
}

form button{
    margin-right: .5rem;
}


}


@media screen and (max-width: 1200px) {

    /*********************HEADER**********************/

    article p {
        padding-right: 0;
    }
    
    form button{
        padding: .25rem .5rem;
    }




    /***********************CLASS****************************/

   .column-query{
    flex-direction: column;
    align-items: center;
    text-align: center;
   }

   .container-form{
    margin-right: 0;
}


  }