
/************************************* RESET ********************************************/
/* POLICE GOOGLE POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
    text-decoration: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    display: block;
    height: auto;
    width: 100%;
}

a{
    text-decoration: none;
    color: #000;
}


/**************************HEADER******************************/
header{
    background:  radial-gradient(rgb(139, 195, 245), #1294b8);
}

/****************NAV***********/
nav{
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
}

h2{
    font-size: 35px;
    font-weight:900;
    color: #fff;
}

nav ul{
    flex-wrap: wrap;
    gap: 1rem;
}

nav ul li a{
    font-size: 25px;
}



/**********SECTION**********/

section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

article{
    flex-direction: column;
    margin-top: 2rem;
    padding: 4rem;
}

h1{
    font-size: 50px;
    font-weight: 900;
    padding: 1rem 1rem 1rem 0;
}

article p {
    font-size: 18px;
    padding-right: 3rem;
    line-height: 1.5;
}

input{
    border-radius: 25px;
    padding: 0.5rem 4rem 0.5rem 0.5rem;
}

button{
    background-color: #1294b8;
    padding: 0.5rem;
    border-radius: 25px;
    color: #fff;
}

figure{
    min-width: 60%;
}



/****************************CLASS*******************************/

.flex{
    display: flex;
}

.space-around{
    justify-content: space-around;
}


.color-white{
    color: #fff;
}



/*************************MEDIA QUERIES***********************/

@media screen and (max-width: 1200px) {
   .column-query{
    flex-direction: column;
   }
  }